In [25]:
%matplotlib inline
import numpy as np
import pandas as pd
from pandas.api.types import is_string_dtype
import matplotlib.pyplot as plt
import scipy.stats  as stats

In [3]:
df = pd.read_csv('total_waterborne_commerce.csv')

In [5]:
col1 = df['Year'].values
col2 = df['Total'].values
col3 = df['Foreign'].values
col4 = df['Domestic'].values

In [33]:
df = pd.read_csv('./data/accident_fatalities_table_cleaned.csv')
df.describe()

              Year       Fatal  Unnamed: 8  Unnamed: 9
count    40.000000   40.000000         0.0         0.0
mean   1994.500000  424.425000         NaN         NaN
std      11.690452  137.142615         NaN         NaN
min    1975.000000  222.000000         NaN         NaN
25%    1984.750000  319.250000         NaN         NaN
50%    1994.500000  402.500000         NaN         NaN
75%    2004.250000  509.750000         NaN         NaN
max    2014.000000  719.000000         NaN         NaN

In [26]:
print(df.dtypes)
is_string_dtype(df['All'])

Year                int64
All                object
Fatal               int64
Total              object
Aboard             object
 Flight Hours      object
 All               object
 Fatal             object
Unnamed: 8        float64
Unnamed: 9        float64
dtype: object

True

In [30]:
# df['All'] = df['All'].str.strip()
for c in df:
    if is_string_dtype(df[c]):
        print("Cleaning {0}".format(c))
        df[c] = df[c].apply(lambda x: x.strip().replace(',',''))
print(df.dtypes)

Cleaning All
Cleaning Total
Cleaning Aboard
Cleaning  Flight Hours
Cleaning  All
Cleaning  Fatal
Year                int64
All                object
Fatal               int64
Total              object
Aboard             object
 Flight Hours      object
 All               object
 Fatal             object
Unnamed: 8        float64
Unnamed: 9        float64
dtype: object

In [12]:
df['All'].str.replace(',', '')

0     3995
1     4018
2     4079
3     4216
4     3818
5     3590
6     3500
7     3233
8     3075
9     3017
10    2739
11    2581
12    2494
13    2388
14    2242
15    2242
16    2197
17    2110
18    2064
19    2021
20    2056
21    1908
22    1840
23    1902
24    1905
25    1837
26    1727
27    1716
28    1741
29    1619
30    1671
31    1523
32    1654
33    1568
34    1480
35    1440
36    1470
37    1470
38    1224
39    1221
Name: All, dtype: object

In [14]:
df['All'].apply(lambda x: x.replace(',',''))

0     3995
1     4018
2     4079
3     4216
4     3818
5     3590
6     3500
7     3233
8     3075
9     3017
10    2739
11    2581
12    2494
13    2388
14    2242
15    2242
16    2197
17    2110
18    2064
19    2021
20    2056
21    1908
22    1840
23    1902
24    1905
25    1837
26    1727
27    1716
28    1741
29    1619
30    1671
31    1523
32    1654
33    1568
34    1480
35    1440
36    1470
37    1470
38    1224
39    1221
Name: All, dtype: object